Transform the Glint score df

In [1]:
import pandas as pd
import numpy as np

In [94]:
df = pd.read_csv(r".\train.csv")

In [95]:
df_prep = df.rename(columns={
    'Store': 'store_name',
    'Question Number': 'question_no',
    'Average Score': 'average_score',
    'Percent Favorable': 'percent_favorable',
    'Overall Response Rate' : 'overall_response_rate',
    'Overall Respondents': 'overall_respondents'
})[['store_name', 'question_no', 'average_score', 'percent_favorable', 'overall_response_rate','overall_respondents']]

In [96]:
# Pivot the table to create multi-level columns
pivot_df = df_prep.pivot_table(
    index='store_name',
    columns='question_no',
    values=['average_score', 'percent_favorable'],
    aggfunc='first'
).reset_index()

In [97]:
# Get store name from first column
store_col = pivot_df.columns[0][0] if isinstance(pivot_df.columns[0], tuple) else pivot_df.columns[0]
new_columns = [store_col]
for col in pivot_df.columns[1:]:
    if isinstance(col, tuple):
        new_columns.append(f"{col[0]}_{col[1]}")
    else:
        new_columns.append(str(col))

pivot_df.columns = new_columns

new_columns = []
for col in pivot_df.columns:
    if isinstance(col, tuple):
        if col[0] == '':  # This handles the ('', 'store_name') case
            new_col = col[1]  # Keep 'store_name'
        else:
            new_col = f"{col[0]}_{col[1]}"  # e.g., ('average_score', '1') â†’ 'average_score_1'
    else:
        new_col = str(col)
    new_columns.append(new_col)  # WAS INCORRECTLY append(col) IN YOUR CODE

pivot_df.columns = new_columns

# Get response rates (store-level)
response_rates = df_prep.groupby('store_name')['overall_response_rate'].first().reset_index()

In [98]:
store_metrics = df_prep.groupby('store_name')[['overall_respondents','overall_response_rate']].first().reset_index()

In [99]:
# Generate ordered columns
questions = sorted(df_prep['question_no'].unique(), key=int)
ordered_columns = [store_col, 'overall_respondents', 'overall_response_rate']

In [100]:
# Add score
for q in questions:
    ordered_columns.extend([
        f"average_score_{q}",
        f"percent_favorable_{q}"
    ])

In [101]:
# Create final dataframe
final_df = pivot_df.merge(store_metrics, on=store_col, how='left')[ordered_columns]

In [102]:
final_df.columns = [
    col.replace('_score_', '_score_Q').replace('_favorable_', '_favorable_Q')
    if any(x in col for x in ['score', 'favorable']) else col
    for col in final_df.columns
]

In [103]:
final_df.head()

,store_name,overall_respondents,overall_response_rate,average_score_Q1,percent_favorable_Q1,average_score_Q2,percent_favorable_Q2,average_score_Q3,percent_favorable_Q3,average_score_Q4,...,average_score_Q34,percent_favorable_Q34,average_score_Q35,percent_favorable_Q35,average_score_Q36,percent_favorable_Q36,average_score_Q37,percent_favorable_Q37,average_score_Q38,percent_favorable_Q38
0,(overall),40474.0,91.0,75.0,73.0,75.0,72.0,73.0,69.0,74.0,...,73.0,70.0,73.0,72.0,73.0,72.0,77.0,80.0,79.0,83.0
1,R01-A01-Causeway Bay,77.0,93.0,90.0,90.0,85.0,87.0,86.0,88.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R01-A01-City Garden 2,14.0,100.0,84.0,79.0,80.0,79.0,80.0,71.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R01-A01-Fitfort,27.0,100.0,48.0,44.0,52.0,37.0,49.0,33.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,R01-A01-Fortress Metro Tower,34.0,92.0,70.0,62.0,66.0,53.0,60.0,44.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
final_df.to_csv(r".\score.csv", index = False)

In [16]:
count = df['Store'].unique()

In [22]:
type(count)

numpy.ndarray

In [18]:
len(final_df['store_name'])

318

In [21]:
check = final_df['store_name'].unique()

In [25]:
diff= np.setdiff1d(count, check)
print(diff)

['R02-A08-Seaview Court' 'R02-A08-Union Park Centre'
 'R04-A15-Shui Chuen O 2' 'R04-A17-Lok Ma Chau 3' 'R05-A21-Scenic Villas'
 'R05-A23-SDC Discovery Bay - MP']

In [32]:
turnover_df = pd.read_excel("C:\\Users\\choyinch\\Downloads\\6 Historical Turnover (monthly) (2).xlsx")

In [34]:
turnover_df.isnull().sum().to_frame().rename(columns={0:"Total No. of Missing Values"})

                   Total No. of Missing Values
Breakout Layer 01                            0
Breakout Layer 2                           461
Breakout Layer 3                           461
2022_01                                    112
2022_02                                    113
2022_03                                    112
2022_04                                    113
2022_05                                    116
2022_06                                    116
2022_07                                    116
2022_08                                    118
2022_09                                    122
2022_10                                    122
2022_11                                    122
2022_12                                    122
2023_01                                    123
2023_02                                    123
2023_03                                    123
2023_04                                    123
2023_05                                    123
2023_06                                    124
2023_07                                    125
2023_08                                    127
2023_09                                    127
2023_10                                    127
2023_11                                    127
2023_12                                    127
Jan24                                      128
Feb24                                      128
Mar24                                      129
Apr24                                      129
May24                                      131
Jun24                                      131
Jul24                                      131
Aug24                                      131
Sep24                                      131
Oct24                                      131
Nov24                                      131
Dec24                                      131
Jan25                                      131
Feb25                                      131
Mar25                                      131
2504 v Turnover                            131

In [35]:
cleaned_tdf = turnover_df.dropna(subset=['2504 v Turnover'])

In [36]:
cleaned_tdf.rename(columns={'Breakout Layer 01':'store'}, inplace=True)

C:\Users\choyinch\AppData\Local\Temp\ipykernel_17324\431368086.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_tdf.rename(columns={'Breakout Layer 01':'store'}, inplace=True)

In [41]:
new_check = cleaned_tdf['store'].unique()

In [43]:
cleaned_tdf['store'].head()

1     Aldrich Garden
2     Allway Gardens
3        Ap Lei Chau
4    Apollo Building
5        Aster Court
Name: store, dtype: object

In [45]:
from difflib import SequenceMatcher 
def similarity(a, b): 
    return SequenceMatcher(None, a, b).ratio()

In [46]:
similarity('R01-A04-Aldrich Garden', 'Aldrich Garden')

0.7777777777777778

In [47]:
similarity('R03-A12-Allway Gardens', 'Allway Gardens')

0.7777777777777778

In [51]:
similarity(str(cleaned_tdf['store'][1]),str(final_df['store_name'][200]))

0.4

In [53]:
match_list=[]
for i in range(len(cleaned_tdf['store'])):
    for j in range(len(final_df['store_name'])):
        if similarity(str(cleaned_tdf['store'][i]),str(final_df['store_name'][j]))>0.77:
            match_list.append(str(cleaned_tdf['store'][i]))
    
        if cleaned_tdf['store'][i] not in match_list:
            print(cleaned_tdf['store'][i])

KeyError: 0

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv(r".\train.csv")

df_prep = df.rename(columns={
    'Store': 'store_name',
    'Question Number': 'question_no',
    'Average Score': 'avg_score',
    'Percent Favorable': '%_favorable',
    'Overall Response Rate' : 'overall_response_rate(%)',
    'Overall Respondents': 'overall_respondents',
    'Manager Level 7': 'ML_7',
    'Manager Level 6': 'ML_6',
    'Manager Level 5': 'ML_5', 
    'Manager Level 4': 'ML_4'
})[['store_name', 'question_no', 'avg_score', '%_favorable', 'overall_response_rate(%)','overall_respondents', 'ML_7','ML_6', 'ML_5', 'ML_4']]


# Pivot the table to create multi-level columns
pivot_df = df_prep.pivot_table(
    index='store_name',
    columns='question_no',
    values=['avg_score', '%_favorable'],
    aggfunc='first'
).reset_index()




# Get store name from first column
store_col = pivot_df.columns[0][0] if isinstance(pivot_df.columns[0], tuple) else pivot_df.columns[0]
new_columns = [store_col]
for col in pivot_df.columns[1:]:
    if isinstance(col, tuple):
        new_columns.append(f"{col[0]}_{col[1]}")
    else:
        new_columns.append(str(col))

pivot_df.columns = new_columns

# Get response rates (store-level)
store_metrics = df_prep.groupby('store_name')[['overall_respondents','overall_response_rate(%)', 'ML_7','ML_6', 'ML_5', 'ML_4']].first().reset_index()


# Generate ordered columns
questions = sorted(df_prep['question_no'].unique(), key=int)
ordered_columns = [store_col, 'overall_respondents', 'overall_response_rate(%)', 'ML_7','ML_6', 'ML_5', 'ML_4']


# Add score
# Add score
for q in questions:
    ordered_columns.extend([
        f"avg_score_{q}",
        f"%_favorable_{q}"
    ])

# Create final dataframe
final_df = pivot_df.merge(store_metrics, on=store_col, how='left')[ordered_columns]

final_df.columns = [
    col.replace('_score_', '_score_Q').replace('_favorable_', '_favorable_Q')
    if any(x in col for x in ['score', 'favorable']) else col
    for col in final_df.columns
]

In [10]:
final_df

,store_name,overall_respondents,overall_response_rate(%),ML_7,ML_6,ML_5,ML_4,avg_score_Q1,%_favorable_Q1,avg_score_Q2,...,%_favorable_Q35,avg_score_Q36,%_favorable_Q36,avg_score_Q37,%_favorable_Q37,avg_score_Q38,%_favorable_Q38,Satisfy_score,Manager_score,Belonging_score
0,(overall),40474.0,91.0,None,None,None,None,75.0,73.0,75.0,...,72.0,73.0,72.0,77.0,80.0,79.0,83.0,74.0,78.0,76.333333
1,R01-A01-Causeway Bay,77.0,93.0,Sai Tak Chan,Kwok Hung Lo,Chau Ngai Chu,Jacky Ma,90.0,90.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.0,89.0,89.000000
2,R01-A01-City Garden 2,14.0,100.0,Chi Wai Leung,Kwok Hung Lo,Chau Ngai Chu,Jacky Ma,84.0,79.0,80.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,86.0,84.666667
3,R01-A01-Fitfort,27.0,100.0,Gregory Kwok,Kwok Hung Lo,Chau Ngai Chu,Jacky Ma,48.0,44.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.5,58.0,55.666667
4,R01-A01-Fortress Metro Tower,34.0,92.0,Siu Pun Wong,Kwok Hung Lo,Chau Ngai Chu,Jacky Ma,70.0,62.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.0,70.0,71.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,R05-A23-Homantin Plaza - MPJ,29.0,97.0,Pui Lun Law,Ho Yin Yau,Ricky Chan,Lance Canavan,67.0,59.0,69.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,76.0,69.666667
313,R05-A23-Liberte,36.0,97.0,Lit Fung Wong,Ho Yin Yau,Ricky Chan,Lance Canavan,73.0,67.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.0,74.0,75.000000
314,R05-A23-Park Signature MP (WEHK-0500C),9.0,90.0,Man Tik Li,Ho Yin Yau,Ricky Chan,Lance Canavan,81.0,78.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,86.0,80.666667
315,R05-A23-Riva - MP,16.0,100.0,Sze Yin Ho,Ho Yin Yau,Ricky Chan,Lance Canavan,61.0,25.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.0,63.0,59.666667
316,R05-A23-The Visionary - MP,16.0,100.0,Chun Yee Wong,Ho Yin Yau,Ricky Chan,Lance Canavan,67.0,75.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.5,70.0,69.000000

In [7]:
final_df['Satisfy_score'] = (final_df['avg_score_Q1']+final_df['avg_score_Q3'])/2

In [9]:
final_df['Manager_score'] = final_df['avg_score_Q17']
final_df['Belonging_score'] = (final_df['avg_score_Q4']+final_df['avg_score_Q12']+final_df['avg_score_Q15'])/3

In [11]:
final_df.to_csv(r".\score.csv", index = False)